name: Playwright Tests

on:
  pull_request:
    branches: [main, master]
  
  push:
    branches: [main, master]
  
  workflow_dispatch:

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Grant execute permission to API test script
        run: chmod +x tests/api/Petstore/run_api_tests.sh

      - name: Run Petstore API tests
        run: ./tests/api/Petstore/run_api_tests.sh
        continue-on-error: true

      - name: Run Playwright tests
        run: npx playwright test
        env:
          BASE_URL: https://www.saucedemo.com/                                                 
          STANDARD_USER: standard_user                                                         
          LOCKED_OUT_USER: locked_out_user                                                     
          PROBLEM_USER: problem_user                                                           
          PERFORMANCE_GLITCH_USER: performance_glitch_user                                     
          PASSWORD: secret_sauce                                                               
          PURCHASE_FIRST_NAME: John                                                            
          PURCHASE_LAST_NAME: Doe                                                             
          PURCHASE_POSTAL_CODE: 12345 

      - name: Archive Playwright Test Results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30